.flexContainer {
    display: flex;
}

#textLabel {
    color: rgb(0, 200, 200);
}

#textInput {
    display: inline;
    /* width: calc(100% - 250px); */
    flex: auto;
}

#selectLabel {
    display: inline-block;
    width: 140px;
    min-width: 140px;
    margin: 0px 8px;
}